* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: rgba(179, 227, 230, 0.1);
}

#root {
    height: 100%;
}

.App {
  text-align: center;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px 1fr;

    padding: 10px;
}
.App img {
    align-self: center;
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 2;
}
.grid-container {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    }
.stops {


    margin-right: 10px;

}
.form-container {
    border: 1px solid rgba(179, 227, 230, 1);
    background-color: white;
    border-radius: 15px;
}
.stops form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 20px;
}
.stops form label {
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
}
.card {

    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid rgba(179, 227, 230, 1);
    border-radius: 15px;

    justify-content: space-around;
    align-items: center;
     min-height: 17%;
    background-color: white;
}

.card-container {
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;

}
.card-container::-webkit-scrollbar { width: 0; }

.carrier {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-right: 1px solid rgba(179, 227, 230,0.3);

}
.carrier button {
    height: 60%;
    width: 70%;
    border-radius: 10px;
    background-color: rgba(247, 87, 42, 1);
    color: white;
    border: none;
    font-size: 20px;
}

.card-info {
    height: 100%;
    justify-content: space-around;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
   align-items: center;
}
.departure, .arrival {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.time {
    font-size: 30px;
    font-weight: bold;
}
.origin {
    font-weight: bold;
}
.date {
    font-weight: normal;
}
.departure span, .arrival span {

}
